include l/u
include l/m


!!! 5
html(lang="en")

    head

        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        script.
          _app = wappyApp = '#{app}'
          _pam = wappyPam = '#{pam}'
            console.log('wap.jade')
        +css('bs')
        //+css('themes')
        +css('jquery-ui')

        +S(["us","jq","bootstrap","cjs","socket.io/socket.io","string", 'bb','bbmn', 'ph2','bx','b2dbasics','b2dutils'  ])
        +S(['ko','mel','gq'])
        +S(['objects',  'both', 'spriteSheets','core', 'rules', 'css','jqfn', 'html', 'ip',    'boot', 'images'])
        +S(['event','socket' ])

        +S(['filt',   'defaultMug','kocomp','can'   ])

        +S(['eazel', 'displayObject',  'shape', 'text',  'sprites', 'jqon'])
        +S([ 'stage' ])

        +S(['jqui','basics', 'draggy','droppy', 'marion', 'dialog','jqAnim'])

        +S(['app'])

    body




























