include mixins
!!! 5
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        +superWeb
        +superCan
        
        
        +S(['bush'])
        
        +S(['gpcas','bx', 'polyMath', 'box', 'sep', 'fiz', 'fizBod', 'coll', 'joint', 'co', 'geo'])
        +S(['spaz','spazArcade'])
        +S(['nice', 'tx',  'blocks', 'bones' ])
        +S(['contact', 'controller', 'geometry', 'webman'])
        
        script.
            _app = wappyApp = '#{app}'
            _pam = wappyPam = '#{pam}'
            $(function () {
                z();
                window[_app.toUpperCase()](_pam)
            })
        body