include mixins
!!! 5
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        +superWeb
     
        
        



        +S(['spaz0', 'spazBods', 'spaz', 'makeWorld', 'spazPol', 'spazArcade','yip'])
        
        +S(['nice', 'tx',  'blocks', 'bones' ])
        
        +S(['contact', 'controller', 'geometry', 'webman'])
        
        script.
            _app = wappyApp = '#{app}'
            _pam = wappyPam = '#{pam}'
            $(function () {
                z();
                window[_app.toUpperCase()](_pam)
            })
        body