include mixins
!!! 5
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        +superWeb
     
        
        +S(['stuff', 'preSpaz', 'spaz0',  'spaz', 'spazBods', 'makeWorld', 'spazPol', 'spazArcade', 'levels', 'scroll', 'yip' ,'spazCreate', 'dot'])
        
        +S([ 'tx',  'blocks', 'hippo', 'bones' ])
        
        +S(['contact', 'controller', 'geometry'])
        +S(['nice', 'nicer', 'NICEST'])
        script.
            _app = wappyApp = '#{app}'
            _pam = wappyPam = '#{pam}'
            $(function () {
                z();
                window[_app.toUpperCase()](_pam)
            })
        body