include l/u
include l/m


!!! 5
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script.
          _app = wappyApp = '#{app}'
          _pam = wappyPam = '#{pam}'

        +css('bs')
        +css('themes')
        +S(['hb', "us", "jq", "bs", "cjs", 'javascript'])

        body



























