include mixins 
!!! 5
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script.
          _app = wappyApp = '#{app}'
          _pam = wappyPam = '#{pam}'
          console.log('in wap.jade')
            
        +css('bs4')
        +S(["us", 'string', 'both', 'jq', 'jqSer',  'bs4', 'cjs', 'cjsMC', 'spriteSheets', "socket.io/socket.io" ])
        
        +S(['frontOb', 'fingers', 'hands', 'sty', 'rules', 'flex', 'flexApps', 'boot', 'boot4core', 'bs4Apps', 'jqAnim', 'create', 'easel', 'tween','sprite','movie', 'anims'])
        
        +S(['muggy'])
        
        +S(['createGames', 'handyApps' , 'flexApps', 'muggyApps' ])
       

    body
 
        
