include mixins 
!!! 5
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script.
          _app = wappyApp = '#{app}'
          _pam = wappyPam = '#{pam}'
          console.log('in wap.jade')
            
        +css('bs3')
        +S(["us", 'string', 'both', 'jq', 'jqSer',  'bs3','thDf3', 'cjs', 'cjsMC', 'spriteSheets', "socket.io/socket.io" ])
        +S(['frontOb', 'superJQuery', 'handy', 'sty', 'rules', 'flex', 'flexApps','frontCan',  'boot', 'boot4core'])    
                    
        +S(['dropdown', 'navbar', 'bs4More', 'jqAnim', 'create', 'easel', 'tween','sprite','movie', 'anims'])
        +S(['muggy'])
        
        +S(['createGames', 'handyApps' , 'flexApps', 'muggyApps' ])
       

    body
 
        
