include l/u
include l/m


!!! 5
html(lang="en")

    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        script.

          _app = wappyApp = '#{app}'

          _pam = wappyPam = '#{pam}'

        +css('bs')

        +css('themes')

        //deps
        +S(["us","jq","bs","cjs","string","bx"])


        //html/base
        +S([ 'spriteSheets', 'objects',  'core', 'mobile'  ])
        +S([ 'jqueryplugins',  'event', 'html', 'boot','ui' ,'sys',  'images',   'can'  ])


        //easel
        +S([ 'easel', 'displayObject', 'stage', 'graphics', 'grad','shape', 'text'])
        +S([ 'bitmap','sprites', 'tween'   ])
        +S([ 'filt', 'draw', 'animate', 'solve','playgame','iso' ])



        //box2d
        +S([ 'b2dbasics','b2dutils' ,'classes','geometry','bodfix' ])


        +S([ 'boxWorld','iter','boxWorldMore' ,'playerWorld'])

        +S([ 'makeworld', 'co'])

        +S([  'edges'  ,'boxFixt', 'b2dSensors'])

        +S([  'play', 'shooter', 'boxBody' ,'coll'  ,'wheel'])

        +S([ 'joints','prism','boxRev','weld','mouseJ'])

        +S([ 'scrolling','webman','easelbody' ])

        +S([ 'boxShapes','player','pinball','boxsprite','examples','movieClip'])




        +S([ 'bodies', 'dev' ])

        body



























