include l/u

!!! 5
html(lang="en")

    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script.
          _app = wappyApp = '#{app}'
          _pam = wappyPam = '#{pam}'
          console.log('wap.jade')

        +css('bs')
        //+css('themes')
        +css('jquery-ui')

        
        +S(["us",'string','both', 'bothUnder','bothMath','bothTime','bothString'])
        +S(["jq",'objects','front','bootstrap','rules', 'css','jqfn', 'html', 'ip',    'boot'])






        +S(["cjs", 'bx', 'cjsbx'])
        //+S(['ph2'])
        +S(['spriteSheets','b2dbasics','b2dutils'])
        +S([  'images', 'bb','bbmn'])
        +S(["socket.io/socket.io"])
        +S(['ko', 'mel', 'gq'])
        +S(['event','socket'])
        +S(['filt',  'defaultMug','kocomp','can'   ])
        +S(['eazel', 'displayObject',  'shape', 'text', 'mobile', 'sprites', 'jqon'])
        +S(['stage'])
        +S(['bbBase', 'bbModel', 'bbColl',    'bbEvent', 'bbWorking', 'bbServer'])
        +S(['kobase','compute','koList','knock', 'bind', 'boundEls','koForms','koSel','koInputs','koTable'])
        +S(['bbValid', 'bbTemps', 'localStore'])
        +S(['jqui','basics', 'draggy','droppy', 'marion', 'dialog','jqAnim'])
        +S(['marLV','flex','compass','uiWidj', 'el'])
        +S(['koBinding','koLogic'])





        //+S(['basics',   'droppy', 'uiSelect', 'uiWid'])

        //+S([ 'backbone', 'bbcl', 'bbworks', 'bbRouter', 'marion'])



        //+S(['melon','gquery','ph','phaser0','phaser','ninja','j3','invaders','display','three'])
        //+S([  'boxWorld', 'boxWorldMore', 'walls'])
        //+S(['makeworld', 'b2dSensors','playerWorld', 'boxRev','weld','prism','coll','gamey','pong','easelbox','joints','wheel'])
        //+S(['emitter','p2fiddle','ragdoll','p2constraints','unigame','tilemapping','launcher','fullgames','p2physics'])
        //+S(['controls','orbs',   'shooter','boxBody','talkjs','mario','squares','edges','boxgame','boxDebug','boxFixt'])
        //+S(['boxShapes','player','pinball', 'examples'])

        +S([ 'app' ])

    body




























